@page
@model Library_Management_System.Pages.Library.Authors_ManageModel
@{
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button id="add_btn" type="button" data-toggle="modal" data-target=".AddEditModal" class="btn btn-success" value="Save">Add Author</button>
        </div>
    </div>

    <br /><br />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Authors Table</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="authorsTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Author Id</th>
                            <th>Author Name</th>
                            <th>Phone Number</th>
                            <th>Author Bio</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="authorsTableBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br /><br />

</div>

<div class="modal fade AddEditModal" tabindex="-1" id="AddEditModal" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Author Add/Edit </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Author Name</label>
                                <input type="text" class="form-control" id="authorName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Phone Number</label>
                                <input type="text" class="form-control" id="phnNo">
                            </div>
                        </div></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Bio</label>
                                <textarea type="text" class="form-control" id="bio"></textarea>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="submit_btn" type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: 'https://localhost:7227/api/Library/GetAllAuthors',
            success: function (allAuthorsData) {
                console.log(allAuthorsData);
                allAuthorsData.forEach(function (author) {
                    var row = '<tr>' +
                        '<td>' + author.authorID + '</td>' +
                        '<td>' + author.authorName + '</td>' +
                        '<td>' + author.authorPhoneNo + '</td>' +
                        '<td>' + author.authorBio + '</td>' +
                        '<td><button class="btn btn-primary edit-item" onclick = "edititem();">Edit</button><button class="btn btn-danger delete-item" id="dlt_btn" onclick = "deleteAuthor();">Delete</button></td>' +

                        '</tr>';
                    $('#authorsTableBody').append(row);
                });
            },
            error: function () { }
        });
        $('#add_btn').on('click', function () {
            $('#authorName').val('');
            $('#phnNo').val('');
            $('#bio').val('');
            $('#exampleModalLabel').text('Add Author');
            $('#submit_btn').text('Save').off('click').on('click', function () {
                createAuthor();
            });
          // $('#saveAuthorButton').off('click').on('click', createAuthor);
            $('.AddEditModal').modal('show');
        });
     
      
    });
    function createAuthor() {
        var model = {
            AuthorName: $("#authorName").val(),
            AuthorPhoneNo: $("#phnNo").val(),
            AuthorBio: $("#bio").val(),

        };
        console.log(model);
        $.ajax({
            type: 'POST',
            url: 'https://localhost:7227/api/Library/CreateAuthor',
            contentType: 'application/json',
            data: JSON.stringify(model),
            success: function (response) {
                alert(response);
                window.location.reload();
                document.getElementById("postform").reset();
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    }
    function edititem() {
        $("#authorsTable").on('click', '.edit-item', function () {
            var currentRow = $(this).closest("tr");
            var authorId = currentRow.find("td:eq(0)").html();
            $.ajax({
                type: 'GET',
                url: 'https://localhost:7227/api/Library/GetAllAuthorsById?authorId=' + authorId,
                contentType: "application/json;charset=UTF-8",
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    $('#authorName').val(result.authorName);
                    $('#phnNo').val(result.authorPhoneNo);
                    $('#bio').val(result.authorBio);
                    $('#submit_btn').text('Update').off('click').on('click', function () {
                        updateAuthor(authorId);
                    });
                    $('.AddEditModal').modal('show');
                }
            });
        });
    }
    function updateAuthor(authorId) {
        var updatedAuthorData = {
            AuthorID: authorId,
            AuthorName: $('#authorName').val(),
            AuthorPhoneNo: $('#phnNo').val(),
            AuthorBio: $('#bio').val()
        };
        $.ajax({
            type: 'POST',
            url: 'https://localhost:7227/api/Library/UpdateAuthor',
            contentType: 'application/json',
            data: JSON.stringify(updatedAuthorData),
            success: function (response) {
                alert(response);
                $('#addEditModal').modal('hide');
                window.location.reload();
            },
            error: function (error) {

            }
        });
    }
    function deleteAuthor() {
        $("#authorsTable").on('click', '.delete-item', function () {

            var currentRow = $(this).closest("tr");
            var authorId = currentRow.find("td:eq(0)").html();
            $.ajax({
                type: 'DELETE',
                url: 'https://localhost:7227/api/Library/DeleteAuthorById?authorId=' + authorId,
                contentType: 'application/json',
                success: function (response) {
                    alert(response);
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    }
   

</script>
